# Compilled source
main

# Input
*.txt

# LaTeX temporary
#*.tex
*.dvi
*.aux
#*.pdf
*.log

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
